:root {
    /* Font-families */
    --font-primary: system-ui, sans-serif;
    --font-secondary: serif;

    /* Font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-750: 4.5rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* Colors */
    --error: red;
    --leaf-green: #596D48;
    --background-primary: #f9fafb;
}

/* --------------------  */
/* Reset                 */
/* --------------------  */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
html,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

fieldset {
    border: none;
}

/* Utils Classes */
.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.light__emphasis {
    font-weight: 500;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

/* Typography */
.ff-serif { font-family: var(--font-secondary); }
.ff-system { font-family: var(--font-primary); }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-750 { font-size: var(--fs-750); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

/* Background */
.background__primary { background-color: var(--background-primary); }
.background__secondary {  background-color: white; }

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
}


/* Specifics */

a {
    color: var(--leaf-green);
    font-weight: bold;
    cursor: pointer;
}

input, label {
    display: block;
}

input {
    width: 16rem;
}

.title__container {
    margin-top: 16rem;
    height: fit-content;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.background__image {
    background-image: url('./Assets/harley-davidson-uRuPYB0P8to-unsplash.jpg');
    background-size: cover;
    width: 60rem;
    height: 100%;
}

.input__container {
    box-shadow: 0px 15px 10px -15px;
    z-index: 1;
    padding-bottom: 1.5rem;
}

.sign__up__container {
    width: 100%;
}

.submit__button {
    background-color: var(--leaf-green);
    border: none;
    border-radius: 5%;
    box-shadow: 1px 1px 5px;
    color: white;
    padding: 8px 32px;
    margin: 1.5rem 0rem 1.5rem 2rem;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.user__details {
    padding: 0 0 2rem 2rem;
    gap: 6rem;
}

#prompt__text__primary {
    padding: 8rem 0rem 2rem 2rem;
}

#prompt__text__secondary {
    padding: 0rem 0rem 2rem 2rem;
}

h1 {
    color: #a4bcd3;
}

h2 {
    padding: 1rem 0rem 1rem 2rem;
}

#login__prompt {
    padding: 0 0 0 2rem;
}

/* Validation Indicators */

input:user-valid {
    border-color: blue;
}

input:user-invalid {
    border-color: red;
}

.requirement__container {
    position: absolute;
    top: 33.5rem;
}

.requirement.error {
    color: red;
}

.hidden { display: none; }